<div class="display">
	<div class="trick-btn pause" data-on="click:trick-click"></div>
	<div class="track-info">
		{{{include 'track-info'}}}
	</div>
	<div class="thumb list-up" data-on="click:thumb-click"></div>
</div>
