@font-face {
	font-family: HelveticaNeueLight;
	src: url('fonts/HelveticaNeueLTStd-UltLt.otf');
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}
body {
  font-size: 96%;
  font-family: HelveticaNeueLight;
}
.hidden {
  display: none;
}
