.display {
    position: relative;

    width: 100%;
    height: 100%;
    max-height: 50px;
    box-sizing: border-box;
    padding-left: 70px;
}
.trick-btn {
    position: absolute;

    left: 20px;
    top: 0px;
    font-size: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 24px !important;
    color: rgba(255, 255, 255, 0.6);
}
.trick-btn.pause {
    background: url(../img/trick-playing.png);
    -webkit-animation: trick-btn-animation 600ms steps(20) infinite;
    background-size: 30px 600px;
}
.trick-btn.loading {
    background: url(../img/trick-loading2x.png);
    -webkit-animation: trick-btn-animation 600ms steps(20) infinite;
    background-size: 30px 600px;
}
.thumb {
    position: absolute;
    color: rgba(255, 255, 255, 0.6);
    top: 0;
    text-align: center;
    right: 10px;
    font-size: 20px;
    width: 40px !important;
    height: 40px !important;
}
.thumb.icon-remove {
    font-size: 16px;
    top: -29px;
    line-height: 41px;
}
.thumb.list-up {
    background-image: url(../img/list-up.png); background-repeat: no-repeat;
    background-position: center center; opacity: 0.6; background-size: 13px;
    top: -16px;
}
.track-info {
    width: 85%;

    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    font-size: 110%;
}
.track-artist {
    display: inline-block;

    overflow: hidden;
}
.track-title {
    display: inline-block;

    max-width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.track-details {
    font-size: 11px;

    text-transform: uppercase;
    line-height: 11px;
    margin-top: -6px;
}
.track-details span {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding-top: 2px;
    top: -5px;
}
.track-album {
    display: inline-block;
    width: 108px;
}


@-webkit-keyframes trick-btn-animation {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 600px;
    }
}